@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
	font-family: "Lato", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	box-sizing: border-box;
}

.welcome {
	margin: 0px 10px;
	display: flex;
	justify-content: space-between;
}

.top {
	margin: 10px;
}
.mid_east {
	height: 100%;
}
