@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
	font-family: "Lato", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	box-sizing: border-box;
}

.welcome {
	margin: 10px;
}

.top {
	height: 100%;
	width: 50%;
	margin: 10px;
}
