* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

main {
	padding: 20px;
	margin: 0 auto;
	background-color: #87ceeb;
	width: 876px;
	height: 876px;
}

header {
	text-align: center;
}

img {
	width: 200px;
	float: right;
}
