* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 95vh;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	background-color: #86cfeb;
	padding: 30px;
	width: 855px;
	height: 876px;
	position: absolute;
}
article {
	border: #49cd30 solid 5px;
	padding: 50px;
	position: relative;
	height: 100%;
}

header {
	text-align: center;
	color: white;
}
h1 {
	font-size: 40px;
	font-weight: 400;
	font-style: italic;
}
ul {
	padding-top: 40px;
}
li {
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
}
a {
	color: #4bcc98;
}

img {
	width: 200px;
	float: right;
}
