* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	padding: 30px;
	background-color: #87ceeb;
	width: 876px;
	height: 876px;
	line-height: 24px;
}

section {
}

header {
	text-align: center;
}

nav {
	padding-top: 30px;
}

section h1 {
	padding: 20px 0;
}

h1,
h2,
p {
	color: white;
}

article {
	border: 5px solid green;
	padding: 50px;
}

img {
	width: 200px;
	float: right;
	padding-top: 75px;
}

footer {
	text-align: center;
	padding: 30px;
}
